.course-description {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .course-description-content {
        width: 1077px;
        display: flex;
        justify-content: space-between;

        .content-block {
            padding: 32px;
            width: 280px;

            img {
                visibility: hidden;
                height: 65px;
                transform: translateY(100px);
                transition: all .45s cubic-bezier(.645,.045,.355,1);
            }

            h3 {
                font-size: 18.7px;
                font-weight: 400;
                margin-top: 20px;
                visibility: hidden;
                transform: translateY(100px);
                transition: all .45s cubic-bezier(.645,.045,.355,1);
            }

            h4 {
                font-size: 19px;
                font-weight: 300;
                opacity: .65;
                margin-top: 25px;
                width: 280px;
                visibility: hidden;
                transform: translateY(100px);
                transition: all .45s cubic-bezier(.645,.045,.355,1);
            }

            .triggered {
                visibility: visible;
                transform: translateY(0px);
            }
        }
    }
}