.header-main {

    .header-top {
        background-color: black;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        .header-top-wrapper {
            width: 980px;
            display: flex;
            justify-content: space-between;

            a {
                color: white;
                padding-right: 15px;
                font-size: 15px;
                text-decoration: none;
            }

            .social-media-wrapper {
                display: flex;
                align-items: center;
            }

            .questions-link {
                background-color: $green;
                display: flex;
                align-items: center;
                transition: .2s;

                a {
                    padding: 15px;
                }

                &:hover {
                    opacity: .87;
                }
            }
        }

        
    }

    .header-center {
        height: 123px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo-login-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 980px;
        }

        .login-apply-button-wrapper {
            display: flex;
        }

        .button-wrapper {
            display: flex;
            align-items: center;
            margin-left: 60px;
            font-size: 18px;
            font-weight: 500;

            .nav-link {
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .nav-link-circle {
            height: 50px;
            width: 50px;
            border: 1px solid $green;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;

            a {
                color: $green;
                font-size: 20px;
            }
        }

        .logo {
            height: 27px;

            img {
                height: 100%;
            }
        }
    }

    .header-bottom {
        background-color: $green;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .nav-links-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            width: 960px;
            padding-top: 23px;

            .nav-link {
                height: 43px;

                .nav-link-dropdown {
                    color: white;
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: white;

                    &:after {
                        transition: all .3s cubic-bezier(.645,.045,.355,1);
                        border-bottom: 3px solid white;
                        content: "";
                        display: block;
                        height: 0px;
                        width: 0;
                        transform: translateY(23px);
                    }
                }

                &:hover a:after {
                    width: 100%;
                }

                .dropdown-arrow {
                    display:inline-block;
                    -webkit-transform:scale(1.1,.6) translateY(3px); /* Safari and Chrome */
                    -moz-transform:scale(1.1,.6) translateY(3px); /* Firefox */
                    -ms-transform:scale(1.1,.6) translateY(3px); /* IE 9 */
                    -o-transform:scale(1.1,.6) translateY(3px); /* Opera */
                    transform:scale(1.1,.6) translateY(3px); /* W3C */
                    margin-left: 5px;
                }
        
                .nav-dropdown {
                    min-width: 200px;
                    padding: 25px;
                    box-shadow: 0 10px 37px rgba(0,0,0,.07);
                    border-bottom: 3px solid $green;
                    background-color: #fff;
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(58px);
                    z-index: -1;
                    transition: visibility .3s, opacity 0.3s linear, transform 0.5s cubic-bezier(.645,.045,.355,1);
                    transition-delay: .4s;

                    a {
                        color: $darkGrey;
                        line-height: 44px;

                        &:after {
                            width: 0;
                        }
                    }
                }

                &:hover .nav-dropdown {
                    visibility: visible;
                    transform: translateY(23px);
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
    }

    .header-back-arrow {
        height: 60px;
        width: 60px;
        background-color: $green;
        color: white;
        font-size: 20px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        cursor: pointer;
        visibility: hidden;
        transition: all .5s cubic-bezier(.645,.045,.355,1);
        transform: translateY(150%);
        opacity: 0;
        bottom: 50px;
        right: 30px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        animation: slide-down 0.7s;
        z-index: 1;
    }

    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        } 
        100% {
            opacity: 1;
            transform: translateY(0);
        } 
    }

    .sticky-arrow {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
        z-index: 1;
    }
}
