.video-display-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 486px;
    width: 100%;
    overflow: hidden;
    background-color: black;

    video {
        object-fit: cover;
        object-position: 0px 20%;
        -ms-transform: scaleX(2); //For IE
        opacity: .6;
    }

    .video-display-text {
        width: 706px;
        position: absolute;
        color: white;

        h5 {
            font-size: 19px;
            font-weight: 300;
            margin-bottom: 17px;
            margin-top: -50px;
        }

        h1 {
            font-size: 45px;
            margin-bottom: 50px;
            line-height: 49.5px;
            font-weight: 400;
        }

        h4 {
            font-size: 18px;
            line-height: 27px;
            font-weight: 400;
            font-family: 'Nunito Sans', sans-serif;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}