.home-content-wrapper {
    width: 100%;
}

.course-display-section-wrapper {
    width: 100%;
    padding-top: 60px;

    .course-display-header{
        width: 100%;
        text-align: center;
        display:  flex;
        flex-direction: column;
        align-items: center;

        span {
            max-width: 658px;
            font-size: 36px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: $green;
        }

        h5 {
            font-family: 'Nunito Sans', sans-serif;
            font-size: 18px;
            line-height: 25px;
            font-weight: 400;
            max-width: 704px;
        }

        .p1 {
            margin-top: 20px;
        }

        .p2 {
            margin-top: 7px;
        }
    }

    .course-display {
        display: flex;
        justify-content: center;
        margin-top: 75px;

        .course-block {
            width: 207px;
            height: 390px;
            padding: 0px 18px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                height: 71px;
            }

            .course-title {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 14px;
                margin-top: 12px;
            }

            .course-subtitle {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 14px;
                margin-top: 2px;
                color: $green;
            }

            .course-description {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 18px;
                margin-top: 6px;
                color: $darkGrey;
                font-weight: 400;
            }

            .course-button {
                margin-top: 30px;
                width: 102px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                .course-dropdown {
                    cursor: context-menu;
                }

                a, .course-dropdown { 
                    padding: 13px 33px;
                    color: #444444;
                    text-decoration: none;
                    font-weight: 700;
                    border: 2px solid #444444;
                    transition: all .45s cubic-bezier(0.25,1,0.33,1);
                    font-family: 'Nunito Sans', sans-serif;

                    &:hover {
                        width: 117px;
                        padding: 15px 36px;
                        font-size: 15px;
                        border: 2px solid black;
                        color: black;
                    }
                }

                .coming-soon-block {
                    padding: 13px 33px;
                    color: #ddd;
                    text-decoration: none;
                    font-weight: 700;
                    border: 2px solid #ddd;
                    font-family: 'Nunito Sans', sans-serif;
                    cursor: context-menu;
                }
            }

            .learn-more-list {
                visibility: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                background-color: black;
                font-size: 13.9px;
                transform: translateY(15px);
                transition: visibility 0s 1s;

                a {
                    color: white;
                    text-decoration: none;
                    font-family: 'Nunito Sans', sans-serif;
                    margin: 10px 4px;
                    transition: all .45s cubic-bezier(0.25,1,0.33,1);

                    &:hover {
                        color: $green;
                    }
                }

                &:hover {
                    visibility: visible;
                }
            }

            .course-button:hover + .learn-more-list {
                visibility: visible;
                font-size: 15px;
                transition: visibility 0s 0s;
            }
        }
    }
}

.course-description-section-wrapper {
    display: flex;

    img {
        width: 104px;
        height: 428px;
    }

    .course-description-section {
        width: 100%;
        background-color: #222;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;

        h3 {
            font-size: 18.7px;
            margin-bottom: 8px;
            font-weight: 400;
        }

        h5 {
            font-size: 18px;
            font-family: 'Nunito Sans', sans-serif;
            color: $green;
            font-weight: 400;
        }

        p {
            margin-top: 7px;
            padding-bottom: 27px;
            font-size: 16px;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 300;
            line-height: 30px;
        }

        h6 {
            font-size: 18px;
            margin-bottom: 40px;

            a {
                color: white;
                text-decoration: none;
                font-family: 'Nunito Sans', sans-serif;

                span {
                    font-size: 14px;
                    display: inline-block;
                    color: white;
                    font-style: normal;
                    font-weight: 300;
                    border: 1px solid rgba(255,255,255,.3);
                    border-radius: 100%;
                    padding: 0px 12px;
                    margin-left: 12px;
                    -webkit-transform:scale(.8,1.3); /* Safari and Chrome */
                    -moz-transform:scale(.8,1.3); /* Firefox */
                    -ms-transform:scale(.8,1.3); /* IE 9 */
                    -o-transform:scale(.8,1.3); /* Opera */
                    transform:scale(.8,1.3); /* W3C */
                    transition: all .2s cubic-bezier(0.25,1,0.33,1);

                }

                
                &:after {
                    transition: all .3s cubic-bezier(.645,.045,.355,1);
                    border-bottom: 1px solid transparent;
                    content: "";
                    display: inline-block;
                    height: 0px;
                    width: 20px;
                    transform: translate(-65px, -4.5px);
                }

                &:hover span {
                    border: 1px solid rgba(0,0,0,0);
                    -webkit-transform:scale(.8,1.3) translateX(10px); /* Safari and Chrome */
                    -moz-transform:scale(.8,1.3) translateX(10px); /* Firefox */
                    -ms-transform:scale(.8,1.3) translateX(10px); /* IE 9 */
                    -o-transform:scale(.8,1.3) translateX(10px); /* Opera */
                    transform:scale(.8,1.3) translateX(10px); /* W3C */
                    
                }
                
                &:hover:after {
                    border-bottom: 1px solid white;
                    transform: translate(-26px, -4.5px);
                }
            }
        }
    }
}

.parttime-promotion-section-wrapper { 
    background-position: center bottom; 
    background-repeat: no-repeat; 
    background-size: 1214px 100%;
    background-color: #f9f9f9;
    height: 728px;
    display: flex;
    justify-content: center;

    .parttime-promotion-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;

        h2 {
            font-weight: 400;
            font-size: 25.5px;
            margin-top: 50px;
        }

        h5 {
            font-size: 18px;
            font-weight: 400;
            font-family: 'Nunito Sans', sans-serif;
            text-align: center;
            line-height: 25px;
            margin-top: 25px;
        }

        .parttime-promotion-button {
            width: 116px;
            height: 50px;
            margin-top: 25px;
            background-color: $green;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity .45s cubic-bezier(0.25,1,0.33,1);

            a {
                color: white;
                text-decoration: none;
                font-weight: 700;
            }

            &:hover {
                opacity: .87;
            }
        }
    }
}

.college-credit-promotion-section-wrapper {
    height: 687px;
    display: flex;
    justify-content: center;

    .college-credit-section-content {
        display: flex;
        justify-content: center;
        margin-top: 150px;

        .college-credit-section-text {
            max-width: 547px;

            .college-credit-text-block {
                margin-bottom: 150px;

                h2 {
                    font-size: 30px;
                    font-weight: 400;

                    a {
                        color: black;
                        text-decoration: none;
                        border-bottom: 2px solid black;
                        transition: .2s;

                        &:hover {
                            color: $green;
                            border-bottom-color: transparent;
                        }
                    }
                }

                .spacer {
                    height: 18px;
                }

                span {
                    font-size: 18px;
                    color: $darkGrey;
                    font-family: 'Nunito Sans', sans-serif;
                }
            }
        }

        .college-credit-img {
            padding-top: 30px;
            padding-left: 50px;

            img {
                width: 512px;
            }
        }
    }
}

.recruitment-quote-wrapper {
    height: 505px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;

    .recruitment-quote-content {
        text-align: center;
        width: 750px;
        padding-top: 70px;

        img {
            width: 70px;
            margin-bottom: 32px;
        }

        h4 {
            font-size: 21px;
            font-weight: 300;
            margin-bottom: 32px;
        }

        h5 {
            font-size: 18px;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 400;
            margin-bottom: 7px;
        }

        h6 {
            font-size: 14px;
            font-family: 'Nunito Sans', sans-serif;
        }
    }
}

.employers-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    .employers-section-content {
        text-align: center;
        margin-bottom: 20px;

        h2 {
            font-size: 25.5px;
            font-weight: 400;
            margin-bottom: 7px;
        }

        p {
            font-size: 16px;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 300;
            line-height: 30px;
            margin-bottom: 20px;
        }

        a {
            font-size: 18px;
            font-family: 'Nunito Sans', sans-serif;
            color: $green;
            text-decoration: none;
            transition: .2s;

            &:hover {
                color: $darkGrey;
            }
        }
    }

    .panoramic-banner {
        display: flex;
        align-self: stretch;
        margin-bottom: 60px;
        animation: panorama 45s infinite linear;

        img {
            height: 340px;
        }
    }

    @keyframes panorama {
        0% {
           transform: translateX(0px);
        }

        100% {
            transform: translateX(-3983px);
        }
    }
}

.bottega-difference-section-wrapper {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;

    .bottega-difference-section-content {
        padding: 100px calc(6vw + 30px) 0px 6vw;
        width: calc(100% - 207px);

        span {
            font-size: 18px;
            color: #c4c4c4;
            font-family: 'Nunito Sans', sans-serif;
        }

        h2 {
            font-size: 25.5px;
            font-weight: 400;
            margin-top: 7px;
            margin-bottom: 20px;
        }

        .bottega-difference-lists {
            display: flex;
            justify-content: space-between;

            .bottega-difference-list-block {
                span {
                    font-size: 19px;
                    font-family: 'Roboto Mono', monospace;
                    color: $green;
                    font-weight: 300;
                }

                ul {
                    margin-top: 14px;
                    max-width: 20vw;

                    li {
                        font-size: 16px;
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 300;
                        line-height: 2em;
                        transform: translateX(30px);
                    }
                }
            }
        }
    }

    .bottega-difference-img {
        width: 207px;
        height: 463px;
        background-size: cover;
        background-position: center;
    }
}

.testimonials-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;

    .testimonials-section-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .testimonials-description-wrapper {
            width: 278px;
            padding-right: 65px;

            h3 {
                font-size: 18.7px;
                font-weight: 400;
                margin-bottom: 8px;
                line-height: 34px;
            }

            p {
                font-size: 16px;
                font-family: 'Nunito Sans', sans-serif;
                font-weight: 300;
                opacity: .75;
                line-height: 30px;
                padding-bottom: 27px;
            }

            .testimonials-button {
                width: 140px;
                height: 50px;
                background-color: $green;
                margin-top: 30px;
                transition: .2s;

                a {
                    color: white;
                    text-decoration: none;
                    font-weight: 700;
                    width: 140px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .hover-arrow {
                        width: 0;
                        overflow: hidden;
                        transition: .2s;
                        -webkit-transform:scaleX(2); /* Safari and Chrome */
                        -moz-transform:scaleX(2); /* Firefox */
                        -ms-transform:scaleX(2); /* IE 9 */
                        -o-transform:scaleX(2); /* Opera */
                        transform:scaleX(2); /* W3C */
                    }
                }

                &:hover {
                    opacity: .87;
                }

                &:hover .hover-arrow {
                    width: auto;
                    margin-left: 20px;
                }
            }
        }
    
        .testimonials-display-wrapper {
            width: 625px;
            height: 445px;
            overflow: hidden;
            display: flex;
            align-items: center;

            .testimonials-blocks-wrapper {
                width: 2960px;
                display: flex;
                justify-content: space-between;
                transition: all .45s cubic-bezier(0.25,1,0.33,1);                

                .testimonials-block {
                    margin-right: 100px;
                    width: 560px;
                    height: 380px;
                    border: 1px solid rgba(0,0,0,.1);
                    border-radius: 10px;
                    padding: 30px;

                    .quotes-images-wrapper {
                        display: flex;
                        justify-content: space-between;
                    }

                    p {
                        margin: 25px 0px;
                        font-size: 18px;
                        line-height: 37px;
                        font-weight: 500;
                    }

                    .testimonial-author {
                        display: flex;
                        align-items: center;

                        .author-img {
                            height: 50px;
                            width: 50px;
                            border-radius: 100%;
                            background-size: cover;
                            background-position: center;
                        }

                        .author-text {
                            margin-left: 20px;
                            display: flex;
                            flex-direction: column;

                            .name {
                                font-size: 16px;
                                font-weight: 500;
                                margin-bottom: 3px;
                            }

                            .location {
                                color: rgba(0,0,0,.5);
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }

    .testimonials-selectors {
        height: 30px;
        display: flex;
        margin-top: 30px;
        margin-bottom: 90px;

        .selector-wrapper {
            height: 30px;
            width: 30px;
            margin: 0px 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .selector {
                background-color: $darkGrey;
                height: 6px;
                width: 6px;
                border-radius: 100%;
                transition: all 0.2s ease;                
            }

            .selector-big {
                border: 2px solid black;
                border-radius: 100%;
                height: 8px;
                width: 8px;
                transition: all 0.2s ease;
            }
        }
    }
}

.news-sources-section-wrapper {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;

    .news-sources-section-content {
        overflow: hidden;
        width: 968px;
        
        .news-sources-banner {
            animation: bannermove 20s infinite;
            transition: .2s;
            display: flex;

            .news-source {
                padding: 62px;
                height: 58px;
                display: flex;
                align-items: center;

                img {
                    max-width: 83px;
                    max-height: 58px;
                }
            }
        }
    }

    @keyframes bannermove {
        0%, 5%,  10%, 15% {
           transform: translateX(0px);
        }

        20%, 25%, 30%, 35% {
            transform: translateX(-202px);
        }

        40%, 45%, 50%, 55% {
            transform: translateX(-404px);
        }

        60%, 65%, 70%, 75% {
            transform: translateX(-606px);
        }

        80%, 85%, 90%, 95% {
            transform: translateX(-808px);
        }

        100% {
            transform: translateX(-1010px);
        }
    }
}