.home-content-wrapper {
    width: 100%;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto Mono', monospace;
    }
}

.video-display-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 486px;
    width: 100%;
    overflow: hidden;
    background-color: black;

    video {
        object-fit: cover;
        object-position: 0px 20%;
        -ms-transform: scaleX(2); //For IE
        opacity: .7;
    }

    .video-display-text {
        width: 613px;
        position: absolute;
        color: white;

        h1 {
            font-size: 45px;
            margin-bottom: 22px;
            line-height: 49.5px;
            font-weight: 400;
        }

        h4 {
            font-size: 19px;
            line-height: 27px;
            font-weight: 400;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.course-display-section-wrapper {
    width: 100%;
    padding-top: 60px;
    // background-color: #f3f3f3;
    // -webkit-box-shadow: inset 0px 60px 35px -35px rgba(0,0,0,0.4);
    // -moz-box-shadow: inset 0px 60px 35px -35px rgba(0,0,0,0.4);
    // box-shadow: inset 0px 60px 35px -35px rgba(0,0,0,0.4);

    .course-display-header{
        width: 100%;
        text-align: center;
        display:  flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 36px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: $green;
        }

        h5 {
            font-family: 'Nunito Sans', sans-serif;
            font-size: 18px;
            line-height: 25px;
            font-weight: 400;
            max-width: 704px;
        }

        .p1 {
            margin-top: 20px;
        }

        .p2 {
            margin-top: 7px;
        }
    }

    .course-display {
        display: flex;
        justify-content: center;
        margin-top: 75px;

        .course-block {
            width: 207px;
            height: 350px;
            padding: 0px 18px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                height: 71px;
            }

            .course-title {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 14px;
                margin-top: 12px;
            }

            .course-subtitle {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 14px;
                margin-top: 2px;
                color: $green;
            }

            .course-description {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 18px;
                margin-top: 6px;
                color: $darkGrey;
                font-weight: 400;
            }

            .course-button {
                margin-top: 30px;
                width: 102px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                a { 
                    padding: 13px 22px;
                    color: #444444;
                    text-decoration: none;
                    font-weight: 700;
                    border: 2px solid #444444;
                    transition: all .45s cubic-bezier(0.25,1,0.33,1);

                    &:hover {
                        width: 117px;
                        padding: 15px 25px;
                        font-size: 15px;
                        border: 2px solid black;
                        color: black;
                    }
                }
            }
        }
    }
}